GOOGLE_API_KEY =AIzaSyB44VoToaA3P1KPYgYy6-ZwEvRBvq8M980
LIVEKIT_URL=wss://mindcareagent-hyhwlxyk.livekit.cloud
LIVEKIT_API_KEY=APIY3vFLHuvHxda
LIVEKIT_API_SECRET=8ocpVjJYBHgg9sJgeD8JixsevgrFecndDBcTf2D5vzfG
